@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik&display=swap');

/* *{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box; 
} */

body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
p{
  text-align: justify;
}
/* p{
  color: dimgray;
  padding: 15px 0px;
  padding-bottom: 20px
} */
img{
  width: 75%;
}

span{
  color: orange;
}
.flexible-container{
  /* height: 500px;
  width: 100%; */
  
  
  display: flex;
  margin-bottom: 120px;
  /* justify-content: space-between; */
 
}
/* .ex-h1{
  display: block;
} */
/* .flexible{
  display: flex;
  margin-bottom: 150px;
} */
.header{
  background: url("images/top-banner.png") no-repeat;

}
.half-width{
  width: 50%;
  
  padding-left: 5%;
  /* margin-left: 2%;
  justify-content: center;
  align-self: center;
   */
}
.link-button{
 
  text-decoration: none;
  background-image: linear-gradient(50deg, red , orange);
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease;
  color:  white;

}
.link-button:hover{
  letter-spacing: 1.5px;
  background-color: orange;
  color: rgb(48, 45, 45);

}
.dream-area{
   background: url("images/dream-bg.png");
   background-repeat: no-repeat;
   background-position: right ;

}
.experience-area{
  background: url("images/exp-bg.png") no-repeat;
  background-position: left;
}
.experience-item{
  box-shadow: 10px 10px 40px rgb(4, 2, 2);
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding-left: 20px;
  
}
#pro-web{
border-left: 7px solid rgb(221, 33, 33);

}
#baby-web{
  border-left:  7px solid blue;



}
footer p {

  text-align: center;
}